:root {
    --bg-primpary: #1b1b1b;
    --bg-secondary: #313131;
    --contrast-primary: #162f44;
    --bg-header: #15191d;
    --bg-section: #262626;
    --accent-primary: #474f55;
}

.hidden {
    display: none !important;
}

body {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    
    background-color: var(--bg-primpary);
    box-sizing: border-box;
    margin: 0;
}

.header-container {
    position: sticky;
    top: -1px;
    z-index: 700;
    background-color: var(--bg-header);
    padding-left: 1%;
    padding-right: 1%;
}

header {
    min-height: 52px;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
}

header ul {
    list-style: none;
}

#ingame-date-display {
    font-size: large;
}

nav {
    box-sizing: border-box;
    margin-right: auto;
    width: max-content;
}

ul.main-menu {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0 auto 0 0;
    padding: 0;
}

.menu-button {
    background: none;
    padding: 1vh 2vw;
    border: none;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    color: inherit;
}

.menu-button:hover {
    background-color: var(--contrast-primary);
}

ul.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: var(--bg-secondary);
    padding: 0;

    button {
        width: 100%;
        text-align: left;
    }
}

.dropdown-hover.active .dropdown-menu {
    display: block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    font-size: 0.9em;
    color: #6f6f6f;
    padding: .5em 1em;
    background-color: var(--bg-section);
    
    p {
        margin: 0;
    }
}

#char-name-title {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    min-width: 100%;
    padding-top: 0.5em;
}

.content-display {
    padding: 0 1vw;
}

.section-wrapper {
    position: sticky;
    margin: 1rem 0;
    background-color: var(--bg-section);
    border: 2px solid black;
}

span.section-header {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    min-width: 100%;
    padding: 0.6em 0;
    cursor: pointer;
}

span.section-header:hover {
    background-color: var(--contrast-primary);
}


.collapsible-item {
    margin-bottom: 0.5rem;
    background-color: var(--bg-primary);
    pointer-events: auto;
    
    .collapsible-content {
        display: flex;
        flex-direction: column;
        
        .description-container {
            padding: 0 1em;
        }
        
        .mechanics-container {
            display: flex;
            flex-direction: column;
            margin-left: 2em;
            
            ul {
                margin: 0;
            }
            
            li {
                font-size: 1em;
            }
        }
    }
}

.building-item .description-container {
    font-style: italic;
    font-family: sans;
    font-size: 1.1em;
}

#settlement-attributes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1em;
    
    .attribute-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center; 
        
        span {
            font-weight: bolder;
        }

        .attr-header {
            margin-top: 0.5em;
        }

        .attr-label {
            text-transform: capitalize;
            margin-bottom: 0.5em;
        }
    }
}

.journal-display .content {
    display: flex;
    flex-flow: column nowrap;
}

.journal-display .content .journal-page .collapsible-header {
    padding-inline: 0;
}

.journal-display .content .journal-page .collapsible-header-title {
    margin-inline: calc(max(0vw, 50vw - 420px));
    padding-inline: 0.3em;
    border-bottom: 1px groove rgba(104, 104, 104, 0.8); 
}

.collapsible-item.journal-page .description-container {
    margin-inline: calc(max(0vw, 50vw - 420px));
    max-width: 840px;
    padding-inline: 1.5em;
    margin-top: 0.5rem;
    background-color: #101418;
}

/* Collapsible Header Shenanigans */

.collapsible-header {
    cursor: pointer;
    background-color: var(--bg-header);
    display: flex;
    padding: 0.5em 1em;
}

.collapsible-header span {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* One item: Full width */
.collapsible-header span:only-child {
    flex: 1 1 100%;
    text-align: left;
}

/* Two items: 50% each */
.collapsible-header span:nth-child(1):nth-last-child(2) {
    flex: 1 1 50%;
    text-align: left;
}
.collapsible-header span:nth-child(2):nth-last-child(1) {
    flex: 1 1 50%;
    text-align: right;
}

/* Three items: 40% for the first, 30% for the rest */
.collapsible-header span:nth-child(1):nth-last-child(3) {
    flex: 1 1 33%;
    text-align: left;
}
.collapsible-header span:nth-child(2):nth-last-child(2) {
    flex: 1 1 33%;
}
.collapsible-header span:nth-child(3):nth-last-child(1) {
    flex: 1 1 33%;
    text-align: right;
}

/* Four items: 40% for the first, 20% for the rest */
.collapsible-header span:nth-child(1):nth-last-child(4) {
    flex: 1 1 40%;
    text-align: left;
}
.collapsible-header span:nth-child(2):nth-last-child(3),
.collapsible-header span:nth-child(3):nth-last-child(2) {
    flex: 1 1 20%;
}
.collapsible-header span:nth-child(4):nth-last-child(1) {
    flex: 1 1 20%;
    text-align: right;
}