:root {
    --bg-primpary: #1b1b1b;
    --bg-secondary: #313131;
    --contrast-primary: #162f44;
    --bg-header: #15191d;
    --bg-section: #262626;
}

.hidden {
    display: none !important;
}

h2 {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    
    margin: 0;
    padding: 0;
    background-color: var(--bg-primpary);
}

header {
    position: sticky;
    top: 0;

    display:flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the content */
    background-color: var(--bg-header);
    padding: 1rem;
    text-align: center;

    nav {
        display: grid;
        grid-auto-flow: column;
        gap: 1em;    

        button {
            background: none;
            padding: 10px 20px;
            margin: 5px;
            border: none;
            cursor: pointer;
            font-size: larger;
            font-weight: bold;
            color: inherit;
        }
    
        button:hover {
            background-color: var(--contrast-primary);
        }
    }

    .timestamp {
        font-size: large;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    font-size: 0.9em;
    color: #6f6f6f;
    padding: .5em 1em;
    background-color: var(--bg-section);
    
    p {
        margin: 0;
    }
}

section {
    margin: 1em;
    background-color: var(--bg-section);
    border: 2px solid black;
    
    h1 {
        margin: 0;
        padding: 1em;
        text-align: center;
        cursor: pointer;
    }
    h1:hover {
        background-color: var(--contrast-primary);
    }
}

/* Collapsible Header Shenanigans */

.collapsible-header {
    cursor: pointer;
    background-color: var(--bg-header);
    display: flex;
    
    display: flex;
    padding: 0.5em 1em;
}

.collapsible-header span {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* One item: Full width */
.collapsible-header span:only-child {
    flex: 1 1 100%;
    text-align: left;
}

/* Two items: 50% each */
.collapsible-header span:nth-child(1):nth-last-child(2) {
    flex: 1 1 50%;
    text-align: left;
}
.collapsible-header span:nth-child(2):nth-last-child(1) {
    flex: 1 1 50%;
    text-align: right;
}

/* Three items: 40% for the first, 30% for the rest */
.collapsible-header span:nth-child(1):nth-last-child(3) {
    flex: 1 1 33%;
    text-align: left;
}
.collapsible-header span:nth-child(2):nth-last-child(2) {
    flex: 1 1 33%;
}
.collapsible-header span:nth-child(3):nth-last-child(1) {
    flex: 1 1 33%;
    text-align: right;
}

/* Four items: 40% for the first, 20% for the rest */
.collapsible-header span:nth-child(1):nth-last-child(4) {
    flex: 1 1 40%;
    text-align: left;
}
.collapsible-header span:nth-child(2):nth-last-child(3),
.collapsible-header span:nth-child(3):nth-last-child(2) {
    flex: 1 1 20%;
}
.collapsible-header span:nth-child(4):nth-last-child(1) {
    flex: 1 1 20%;
    text-align: right;
}

.collapsible-item {
    margin-bottom: 0.5em;
    background-color: var(--bg-primary);
    pointer-events: auto;
    
    .collapsible-content {
        display: flex;
        flex-direction: column;
        
        .description-container {
            padding: 0 1em;
        }
        
        .mechanics-container {
            display: flex;
            flex-direction: column;
            margin-left: 2em;
            
            
            ul {
                margin: 0;
            }
            
            li {
                font-size: 1em;
            }
        }
    }
}

.building-item {
    .description-container {
        font-style: italic;
        font-family: sans;
        font-size: 1.1em;
    }
}

#settlement-attributes {
    display: flex;
    justify-content: space-evenly;

    padding: 1rem;
    margin: 1em;
    background-color: var(--bg-section);
    border: 2px solid black;
    
    .attribute-container {
        display: flex;
        flex-direction: column;
        
        align-items: center; 
        
        span {
            text-transform: uppercase;
            font-weight: bolder;
        }
    }
}
